<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">Loxig</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>Copyright &copy; {{site.time | date: '%Y'}} loxig.store | Tüm hakkı saklıdır.<br>
              <p>Bir [https://ekofi.science](Ekofi Bilim) iştirakidir.
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              
              {% if site.twitter %}
              <li><a href="{{ site.twitter }}">Twitter</a></li>
              {% else %} {% endif %}

              {% if site.instagram %}
              <li><a href="{{ site.instagram }}">Instagram</a></li>
              {% else %} {% endif %}

              <li><a href="https://github.com/artemsheludko">Emeği Geçenler</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
